<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/publish_cost.css') }}">

</head>
<body>
    <h1>Publish Review</h1>
    <h2>Game Details</h2>
    <ul>
        <li><strong>Name:</strong> {{ form_data['game_name'] }}</li>
        <li><strong>Price:</strong> ${{ form_data['price'] }}</li>
        <li><strong>Predicted Popularity:</strong> {{ predicted_popularity }} estimated owners</li>
        <li><strong>Publishing Fee:</strong> ${{ publishing_fee }}</li>
        <li><strong>Cut:</strong> {{ cut }}%</li>
    </ul>
    <form action="{{ url_for('publish_review') }}" method="POST">
        <h2>Payment Method: {{ session['payment_method']|capitalize }}</h2>
        {% if session['payment_method'] == 'credit_card' %}
            <label for="card_number">Enter Credit Card Number:</label>
            <input type="text" id="card_number" name="card_number" required><br><br>
        {% else %}
            <div class="balance-info">
                <p>Your current wallet balance: <strong>${{ '%.2f'|format(user.wallet_balance) }}</strong></p>
                <p>Publishing Fee: <strong>${{ '%.2f'|format(publishing_fee) }}</strong></p>
                <p>Balance after deduction: 
                    <strong>${{ '%.2f'|format(user.wallet_balance - publishing_fee) }}</strong>
                </p>
            </div>
        {% endif %}
        <button type="submit">Confirm Payment</button>
    </form>
    <a href="{{ url_for('publish') }}">Go Back</a>
</body>
</html>
